<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
<title>simpleTicket</title>
    {% load staticfiles %}
    <link rel="shortcut icon" href="{% static "images/favicon.ico" %}"></link>

    <script type="text/javascript" language="javascript" src="{% static "scripts/jquery/jquery.min.js" %}"></script>       <!-- jQuery -->
    <script type="text/javascript" language="javascript" src="{% static "scripts/bootstrap/bootstrap.min.js" %}"></script> <!-- bootstrap -->
    <script type="text/javascript" language="javascript" src="{% static "scripts/jquery/jquery.js" %}"></script>
    <script type="text/javascript" language="javascript" src="{% static "scripts/jquery/jquery.prettyPhoto.js" %}"></script>
    <script type="text/javascript" language="javascript" src="{% static "scripts/jquery/jquery.isotope.min.js" %}"></script>
    <script type="text/javascript" language="javascript" src="{% static "scripts/jquery/jquery.isotope.min.js" %}"></script>
    <script type="text/javascript" language="javascript" src="{% static "scripts/jquery/main.js" %}"></script>
    <script type="text/javascript" language="javascript" src="{% static "scripts/jquery/wow.min.js" %}"></script>

    <link rel="stylesheet" href="{% static "styles/bootstrap.min.css"%}"></link>
    <link rel="stylesheet" href="{% static "styles/colorgraph.css" %}"></link>
    <link rel="stylesheet" href="{% static "styles/font-awesome.min.css" %}"></link>
    <link rel="stylesheet" href="{% static "styles/animate.min.css" %}"></link>
    <link rel="stylesheet" href="{% static "styles/prettyPhoto.css" %}"></link>
    <link rel="stylesheet" href="{% static "styles/main.css" %}"></link>
    <link rel="stylesheet" href="{% static "styles/responsive.css" %}"></link>

    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{% static "images/ico/apple-touch-icon-144-precomposed.png" %}"/>
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{% static "images/ico/apple-touch-icon-114-precomposed.png" %}"/>
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{% static "images/ico/apple-touch-icon-72-precomposed.png" %}"/>
    <link rel="apple-touch-icon-precomposed" href="{% static "images/ico/apple-touch-icon-57-precomposed.png" %}"/>
</head>
<body class="homepage">
<!-- Header -->
    <header id="header">
        <div class="top-bar">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-xs-4">
                        <div class="top-number"><p><i class="fa fa-phone-square"></i> HelpDesk Quick Line: +4 (021) 000 555 </p></div>
                    </div>
                    <div class="col-sm-6 col-xs-8">
                       <div class="social">
                            <ul class="social-share">
                                <li><a href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="https://twitter.com/"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="https://www.linkedin.com/"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="https://dribbble.com/"><i class="fa fa-dribbble"></i></a></li>
                                <li><a href="https://www.skype.com/"><i class="fa fa-skype"></i></a></li>
                            </ul>
                            <div class="search">
                                <form role="form">
                                    <input type="text" class="search-form" autocomplete="off" placeholder="Search">
                                    <i class="fa fa-search"></i>
                                </form>
                           </div>
                       </div>
                    </div>
                </div>
            </div><!--/.container-->
        </div><!--/.top-bar-->

        <nav class="navbar navbar-inverse" role="banner">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href='/home/'><img src="{% static "images/logo.png" %}" ></a>
                </div>

                <div class="collapse navbar-collapse navbar-right">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href='/home/'>Home</a></li>
                        <li><a href='/home/myaccount/'>My Account</a></li>
                        <li><a href='/home/services/'>Services</a></li>
                        <li><a href="https://www.reddit.com/r/Python/">Company News</a></li>
                        <li><a href='/home/contact/'>Contact HelpDesk</a></li>
                        <li class="active"><a href='/home/logout/'>LogOut</a></li>
                    </ul>
                </div>
            </div><!--/.container-->
        </nav><!--/nav-->

    </header><!--/header-->

<!-- Body -->
    <div id="content">
           {% block content %}{% endblock %}
    </div>

<!-- Footer -->
<footer id="footer" class="midnight-blue">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    &copy; 2016 <a target="_blank" href="https://www.facebook.com/abordioaie.george">simpleTicket - Abordioaie George</a>. All Rights Reserved.
                </div>
                <div class="col-sm-6">
            </div>
        </div>
</footer><!--/#footer-->

</body>
</html>