{% extends "base.html" %}

{% block content %}
{% load staticfiles %}

 <section id="feature" class="transparent-bg">
        <div class="container">
            <br>
           <div class="center">
               {% if user_role != 2 %}
                <h2>Services</h2>
               {% elif user_role == 2 %}
               <h2>Help Desk Services</h2>
               {% endif %}
            </div>
            <hr>
<!-- User and Supervisor Area -->
{% if user_role != 2 %}
            <div class="row">
                <div class="features">
                    <div class="col-md-4 col-sm-6" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                            <a name="create_ticket" href='/home/ticketcreate/'>
                            <i class="fa fa-bug"></i>
                            <h2>Create Ticket</h2>
                            <h3>Create a new Ticket</h3></a>
                        </div>
                    </div><!--/.col-md-4-->

                    <div class="col-md-4 col-sm-6" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                            <a name="active_tickets" href='/home/ticketsactive/'>
                            <i class="fa fa-cogs"></i>
                            <h2>Active Tickets</h2>
                            <h3>Track active Tickets</h3></a>
                        </div>
                    </div><!--/.col-md-4-->

                    <div class="col-md-4 col-sm-6" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                            <a name="closed_ticket" href='/home/ticketsclosed/'>
                            <i class="fa fa-moon-o"></i>
                            <h2>Closed Tickets</h2>
                            <h3>Open closed Tickets</h3></a>
                        </div>
                    </div><!--/.col-md-4-->

                    <div class="col-md-4 col-sm-6" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                            <a name="create_order" href='/home/ordercreate/'>
                            <i class="fa fa-shopping-cart"></i>
                            <h2>Place Order</h2>
                            <h3>Create a new Order</h3></a>
                        </div>
                    </div><!--/.col-md-4-->

                    <div class="col-md-4 col-sm-6" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                            <a name="active_orders" href='/home/ordersactive'>
                            <i class="fa fa-comments"></i>
                            <h2>Active Orders</h2>
                            <h3>Track active Orders</h3></a>
                        </div>
                    </div><!--/.col-md-4-->

                    <div class="col-md-4 col-sm-6" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                            <a href='/home/ordersclosed'>
                            <i class="fa fa-heart"></i>
                            <h2>Closed Orders</h2>
                            <h3>Recap closed Orders</h3></a>
                        </div>
                    </div><!--/.col-md-4-->
                </div><!--/.services-->
            </div><!--/.row-->

            {% if subalterns > 0 %}
            <hr>
             <div class="row">
                <div class="features">
                    <div class="col-md-4 col-sm-6" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                            <a name="subalterns" href='/home/subalterns/'>
                            <i class="fa fa-users"></i>
                            <h2>View Subordinates</h2>
                            <h3>Manage staff members</h3></a>
                        </div>
                    </div><!--/.col-md-4-->

                    <div class="col-md-4 col-sm-6" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                            <a name="approve_tickets" href='/home/subalterns_tickets/'>
                            <i class="fa fa-check-square"></i>
                            <h2>Approve Tickets</h2>
                            <h3>Approve subordinates active Tickets</h3></a>
                        </div>
                    </div><!--/.col-md-4-->

                    <div class="col-md-4 col-sm-6" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                            <a name="approve_orders" href='/home/subalterns_orders/'>
                            <i class="fa fa-share-square-o"></i>
                            <h2>Approve Orders</h2>
                            <h3>Approve subordinates active Orders</h3></a>
                        </div>
                    </div><!--/.col-md-4-->
                </div><!--/.services-->
            </div><!--/.row-->
            {% endif %}

            <hr>
            <div class="get-started center wow fadeInDown">
                <h2>Are you experiencing any difficulties?</h2>
                <p class="lead">If you need any assistance while creating an IT Ticket or placing any kind of order please contact our HelpDesk team.</p>
                <div class="request">
                    <h4><a href='/home/contact/'>Contact HelpDesk!</a></h4>
                </div>
            </div><!--/.get-started-->
<!-- HelpDesk Area -->
{% elif user_role == 2 %}
             <div class="row">
                <div class="features">

                    <div class="col-md-3 col-sm-6" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                            <a name="solve_tickets" href='/helpd/active_tickets/'>
                            <i class="fa fa-bug"></i>
                            <h2>Open Tickets</h2>
                            <h3>View approved active Tickets</h3></a>
                        </div>
                    </div><!--/.col-md-3-->

                    <div class="col-md-3 col-sm-6" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                            <a name="closed_tickets" href='/helpd/closed_tickets/'>
                            <i class="fa fa-moon-o"></i>
                            <h2>Closed Tickets</h2>
                            <h3>View a history of all solved tickets</h3></a>
                        </div>
                    </div><!--/.col-md-3-->

                    <div class="col-md-3 col-sm-6" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                            <a name="solve_orders" href='/helpd/active_orders/'>
                            <i class="fa fa-shopping-cart"></i>
                            <h2>Open Orders</h2>
                            <h3>View approved active Orders</h3></a>
                        </div>
                    </div><!--/.col-md-3-->

                    <div class="col-md-3 col-sm-6" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                            <a name="closed_orders" href='/helpd/closed_orders/'>
                            <i class="fa fa-share-square-o"></i>
                            <h2>Closed Orders</h2>
                            <h3>View a history of all solved orders</h3></a>
                        </div>
                    </div><!--/.col-md-3-->
                </div><!--/.services-->
            </div><!--/.row-->

            <div class="row">
                <div class="features">
                    <hr>
                    <div class="col-md-4 col-sm-6" data-wow-duration="1000ms" data-wow-delay="600ms"></div>
                    <div class="col-md-4 col-sm-6" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                            <a name="employees_list" href='/helpd/employees/'>
                            <i class="fa fa-users"></i>
                            <h2>Employees List</h2>
                            <h3>View contact info for all employees</h3></a>
                        </div>
                    </div><!--/.col-md-4-->
                    <div class="col-md-4 col-sm-6" data-wow-duration="1000ms" data-wow-delay="600ms"></div>
                </div>
            </div>
            <hr>
{% endif %}

        </div><!--/.container-->
    </section><!--/#feature-->

{% endblock %}