{% extends "base.html" %}

{% block content %}
{% load staticfiles %}

<script>
    function backToServices() {
        window.location.href = '/home/services/'
    }
</script>

<link rel="stylesheet" href="{% static "styles/jquery.dataTables.min.css" %}">
<script type="text/javascript" language="javascript" src="{% static "scripts/jquery/jquery.dataTables.min.js" %}"></script>

<section class="pricing-page">
    <div class="container">
        <div class="pricing-area text-center">
                <br>
                <div class="row">
                    <div class="col-sm-12 plan price-three wow fadeInDown">
                        <ul>
                            <li class="heading-three">
                                <h1>Orders pending the approval of {{ user_profile }}</h1>
                            </li>
                             {% if orders == False %}
                                    <li>None of your subalterns has placed any orders.</li></ul>
                             {% elif orders != False %}
                                </ul>
                                <br>
                                <div class="table-responsive">
                                <table class="table table-striped" cellspacing="0" width="100%" align="center" id="data_table">
                                    <thead>
                                        <tr>
                                            <th style="text-align:center;vertical-align:middle">Owner</th>
                                            <th style="text-align:center;vertical-align:middle">Title</th>
                                            <th style="text-align:center;vertical-align:middle">Description</th>
                                            <th style="text-align:center;vertical-align:middle">Units</th>
                                            <th style="text-align:center;vertical-align:middle">Unit Value</th>
                                            <th style="text-align:center;vertical-align:middle">Comments</th>
                                            <th style="text-align:center;vertical-align:middle">Priority</th>
                                            <th style="text-align:center;vertical-align:middle">Status</th>
                                            <th style="text-align:center;vertical-align:middle">Approve or Close</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for order in orders %}
                                    <tr>
                                        <td>{{ order.user_type }}</td>
                                        <td>{{ order.title }}</td>
                                        <td>{{ order.description }}</td>
                                        <td>{{ order.units }}</td>
                                        <td>{{ order.value_per_unit }}</td>
                                        <td>{{ order.comments }}</td>
                                        <td>
                                            {% if order.priority == 0 %}
                                                Low
                                            {% endif %}
                                            {% if order.priority == 1 %}
                                                Medium
                                            {% endif %}
                                            {% if order.priority == 2 %}
                                                High
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if order.status == 0 %}
                                                Sent
                                            {% endif %}
                                            {% if order.status == 1 %}
                                                Approved
                                            {% endif %}
                                            {% if order.status == 2 %}
                                                Processing
                                            {% endif %}
                                            {% if order.status == 3 %}
                                                Solved
                                            {% endif %}
                                            {% if order.status == 4 %}
                                                Reopened
                                            {% endif %}
                                        </td>
                                        <td>
                                            <form method="post">
                                            {{ form.as_p }}
                                            {% csrf_token %}
                                            <button id="{{ order.id }}" name={{ order.id }} type="submit" class="btn btn-primary">Edit Status</button>
                                            </form>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                                </div>
                            {% endif %}
                    </div>
                </div>
                <div class="form-group">
                    <a class="btn btn-primary btn-lg" id="id_services" role="button" onclick="backToServices()">&nbsp&nbsp&nbsp&nbsp&nbsp&nbspGo Back&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</a>
                </div>
        </div><!--/Tickets Information area-->
    </div><!--/container-->
</section><!--/pricing-page-->

{% endblock %}