{% extends "base.html" %}

{% block content %}
{% load staticfiles %}

<script>
    function backToTickets() {
        window.location.href = '/helpd/active_orders/'
    }
</script>

<section class="pricing-page">
    <div class="container">
        <div class="pricing-area text-center">
            <br>
            <!-- Alerts -->
            {% if change_succeded == True %}
            <div class="alert alert-success alert-dismissible" id='alert_success' role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <p class="text-center">You have successfully updated the order status!</p>
             </div>
            {% elif change_succeded == False %}
            <div class="alert alert-danger alert-dismissible" id='alert_fail' role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                 <p class="text-center">Unable to change the order status!</p>
            </div>
            {% endif %}
                <div class="row">
{% if user_role == 2 %}
                    <div class="col-sm-1 plan price-three wow fadeInDown">
                    </div>
                    <div class="col-sm-10 plan price-tow wow fadeInDown">
                        <form action="/helpd/active_orders_cs/" method="post" name="contact-form" class="contact-form"> {% csrf_token %}
                        <ul>
                            <li class="heading-three">
                                <h1>Order Information</h1>
                            </li>
                            <li><b>Owner:</b> {{ order.user_type }}</li>
                            <li><b>Title:</b> {{ order.title }}</li>
                            <li><b>Description:</b> {{ order.description }}</li>
                            <li><b>Units:</b> {{ order.units }}</li>
                            <li><b>Unit Value:</b> {{ order.value_per_unit }}</li>
                            <li><b>Comments:</b> {{ order.comments }}</li>
                            <li><b>Priority:</b>
                                {% if order.priority == 0 %}
                                    Low
                                {% endif %}
                                {% if order.priority == 1 %}
                                    Medium
                                {% endif %}
                                {% if order.priority == 2 %}
                                    High
                                    {% endif %}
                            </li>
                            <li><b>Status: </b>
                                {% if order.status == 0 %}
                                    Sent
                                {% endif %}
                                {% if order.status == 1 %}
                                    Approved
                                {% endif %}
                                {% if order.status == 2 %}
                                    Processing
                                {% endif %}
                                {% if order.status == 3 %}
                                    Solved
                                {% endif %}
                                {% if order.status == 4 %}
                                    Reopened
                                {% endif %}
                            </li>
                            <li><hr></li>
                            <li><b>Change Order Status</b></li>
                              <li>
                                  <div class="form-group">
                                      <label><b>New Status:&nbsp&nbsp&nbsp</b></label>
                                        <select id="status" name="status">
                                            <option value="3" selected="selected">Closed</option>
                                        </select>
                                  </div>
                              </li>
                              <li>
                                  <div class="form-group">
                                    <label><b>Additional Comments:</b></label>
                                    <input type="text" id="comments" name="comments" class="form-control" required="required">
                                  </div>
                              </li>
                              <li>
                                  <div class="form-group">
                                    <button type="submit" name="submit" class="btn btn-primary btn-lg" required="required">Submit Changes</button>&nbsp&nbsp&nbsp&nbsp&nbsp
                                    <a class="btn btn-primary btn-lg" id="id_services" role="button" onclick="backToTickets()">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspCancel&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</a>
                                  </div>
                              </li>
                        </ul>
                        </form>
                    </div>
                    <div class="col-sm-1 plan price-three wow fadeInDown">
{% elif user_role != 2 %}
                            <div class="heading-one">
                                <h1>Hold on there cowboy! This area is restricted to Help Desk users!</h1>
                            </div>
                            <br>
{% endif %}
                    </div>
                </div>
        </div><!--/Personal Information area-->
    </div><!--/container-->
</section><!--/pricing-page-->

{% endblock %}